* {
  box-sizing: border-box;
 }

/* #2
1) решить проблему с шрифтом, сейчас не подключается
2) http://prntscr.com/10ei6pg
- основной контейнер в который вписывается контент
940px
 */
.container {
  /* #2
  меняем контейнер
  */
  /*width: 1468px;*/
  width: 940px;
  margin: 0 auto;
  padding: 0 15px;
}
/* #2
фоновая картинка должна тянуться на всю ширину экрана,
не должна быть внутри контейнера,
переносим с background на header
 */
.header {
  background-image: url("../img/header_img.svg");
  background-position: center;
  background-size: cover;
}

/*
.background {
  max-width: 100vw;
  max-height: 100vh;
  background-image: url("../img/header_img.svg");
  background-position: center;
  background-size: cover;
}
*/

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  /* #2
  сюда удобно добавить внутренние отступы,
  чтобы внутренние элементы не прилипали к краям
  */
  padding: 5vh 0;
}

.text__logo {
  /* #2
  здесь тогда можно убрать
  */
  /*padding: 20px;*/
}

.text__center {
  text-align: center;
}

.main {
  font-family: Open Sans;
  font-size: 32px;
  line-height: 70px;
  letter-spacing: 5.7px;
  color: #FFFFFF;
}

.undermain {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.text__bottom{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.7px;
} 
.text__link {
  color: #FFFFFF;
  text-decoration: none;
}
.text__link :hover,
.text__link :focus {
  color: #00A4E5;
}

/* #2 переносим рамку сюда */
.nav-wrap {
  border-bottom: 1px solid #E6E6E6;
}

.nav {
  display: flex;
  /*justify-content: space-around;*/
  align-items: center;
  /*padding: 15px 15px;*/
  background: #FFFFFF;
  /*border-bottom: 1px solid #E6E6E6;*/
  max-width:  100%;
  /* #2
  контейнер изменили на 940 и контент тянется на
   всю эту ширину
   */
  justify-content: space-between;
  padding: 15px 0;

}

.nav__logo {
  width: 80px;
  height: 18px;
}

.nav__list {}

.item {
  display: inline-block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #48555B;
  text-transform: uppercase;
  /* последнему эл-ту в списке отступ справа не нужен  */
  padding-right: 17px;
}
/* #2
 убрали отступ справа у последнего элемента
 */
.item:last-child {
  padding-right: 0;
}

.item__link {
  text-decoration: none;
}

.item__link.active,
.item__link:hover,
.item__link:focus {
  color: #00A4E5;
  transition: color ease 0.3c;
  
}

.h2 {
  padding: 32px;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.3px;
  color: #48555B;
  text-transform: uppercase;
  
}
.h2__text {}

.story {
  display: flex;
  /*justify-content: center;*/
  /* #2
   теперь этот блок лежит в контейнере 940px
   его элементы должны занять всю эту ширину
   */
  justify-content: space-between;
}

.story__description {
  /* #2
  этому элементу половинку ширины
  */
  max-width: 50%;
  flex: 0 0 50%;
  /*width: 24%;*/
}

.description1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1875px;
  color: #48555B;
}

.description2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
  padding-top: 5px;
}

.middle__img {
  /* #2
  и этому элементу половинку ширины
  */
  max-width: 50%;
  flex: 0 0 50%;
  /*width: 30%;*/
  display: flex;
  padding-top: 20px;
  
}

.weplan__img {
  width: 100%;
  max-width: 100%;
  padding-left: 20px;
}

.capabilities {
  padding-top: 35px;
}

/*.container2 {*/
/*  margin: 0 325px;*/
/*}*/

.capabilities__top {
  display: flex;
  justify-content: space-between;
}

.top1 {
  width: 35%;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2.30625px;
  color: #48555B;
  text-transform: uppercase;
}

.top2 {
  width: 42%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  align-items: center;
  letter-spacing: 0.2px;
  color: #48555B;
}

.btn1 {}
 
.btn1__btn {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  background-color: #00A4E5;
  border: none;
  text-transform: uppercase;
  height: 100%;
}

.capabilities__bottom {
  display: flex;
  padding: 60px 0 0 0 ;
  justify-content: space-between;
}

.block {
  border: 1px solid rgba(192,192,192,0.6);
  margin-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  width: 33.33%;
}

.block__img {}

.block__h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.426667px;
  color: #48555B;
  text-transform: uppercase;
  text-align: left;
  margin-top: 20px;
}

.block__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
  padding-top: 10px;
}

.intouch {}

.background1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../img/bg.png);
  background-position: center;
  background-size: cover;
}

.background1__h2 {
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #48555B;
  width: 23vw;
  height: 26vh;
}

.background1__btn {
  text-align: center;
  height: 21vh;
}

.btn2 {
  background-color: #00A4E5;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  height: 7vh;
  width: 10vw;
}

.newsletter {}

.content {
  background-color: #171819;
  max-width: 100%;
  height: 17vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2px;
}

.content__h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
  width: 15vw;
}

.content__input {
  height: 6vh;
  display: flex;
  align-items: center;
}

.email1 {
  height: 100%;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.07000000029802322px;
  text-align: left;
}

.signup1 {
  background-color: #00A4E5;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  height: 100%;
  width: 10vw;
  margin-left: -2px;
}

.content1 {
  max-width: 100%;
  height: 40vh;
  background-color: #141A20;
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: space-around;
}

.content1__logo {
  color: #fff;
  margin-left: 13vw;
}

.text1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.846154px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.logo1 {
  color: #fff;
  margin-bottom: 10px;
}

.logo1__logo {}

.text2{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  align-items: center;
  letter-spacing: 0.85px;
  width: 17.5vw;
}

.content1__links {
  display: flex;
  color: #fff;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 25px;
  letter-spacing: 0.846154px;
  justify-content: space-around;
  width: 53vw;
}

.group1 {}

.group1__link :hover,
.group1__link :focus {
  color: #00A4E5;
}

.group1__link {
  text-decoration: none;
  color: #fff;
}

.group2 {
  padding-top: 6vh;
}

.group3 {
  margin-left: 15px;
  padding-top: 6vh;
}

.group4 {
  width: 17vw ;
  font-weight: 400;
}

.footer__container {
  max-width: 100%;
  height: 15vh;
  background: #171819;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
  text-align: center;
}

.footer__text {
  text-align: center;
  padding-top: 7vh;
}

.group5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vh
}

.group5__icon {
  width: 2vw;

}


















